/*  your css code here. If applicable */
.container
{
  width: 800px;
  display: flex;
  flex-wrap: wrap;
}
.square
{
  width: 20px;
  height: 20px;
  background-color: #1d1d1d;
  border: 1px solid black;
  transition: all 1s ease;
}
.square:hover
{
  background-color: red;
}